#body_update_password {
    margin: 0;
    background-image: url(https://i.ytimg.com/vi/yujPrSXTm60/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

input[type=password] {
    width: 10%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    left: 40%;
    top: 230px;
}

#intro_up h1{
    color: white;
    position: relative;
    display: flex;
    font-family: "Almendra SC", serif;
    font-size: 60px;
    left: 30%;
    top:150px;
    width: 60%;
    font-weight: bold;
}


#confirm_verify_password{
    width: 10%;
    background-color: darkgrey;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Almendra SC", serif;
    font-size: 30px;
    position: relative;
    left:24.2%;
    top:320px;
}

#confirm_verify_password:hover{
    background-color: rgba(4, 4, 255, 0.774);

}

#error_verify_password_view .errore {
    display: flex;
    position: relative;
    z-index: 4;
    color: red;
    font-weight: bold;
    font-size: 25px;
    left:39%;
    top:45px;
  }

  
  #linea_up{
    border: 1px solid lightgray;
    width: 30%;
    position: relative;
    left: 35%;
    top: 390px;
  }

  #login_up {
    width: 10%;
    background-color: darkgrey;
    color: white;
    
    border-radius: 4px;
    cursor: pointer;
    font-family: "Almendra SC", serif;
    font-size: 30px;
    position: relative;
    left: 45%;
    top: 450px;
  }
  
  #login_up:hover {
    background-color: rgba(4, 4, 255, 0.774);
  
  }


  #success_verify_password_view .success {
    display: flex;
    position: relative;
    z-index: 4;
    color:rgba(0, 255, 34, 0.774);
    font-weight: bold;
    font-size: 30px;
    left:30%;
    top:120px;
    width: 50%;
  }
